*:not(input):not(textarea) {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    /*font-family: 'robotoregular', Arial, Verdana, sans-serif;*/
    margin: 0;
    background: transparent;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6,strong,b {
    font-family: 'robotobold';
    font-weight: normal;
}
em,i {
    font-family: 'robotoitalic';
    font-style: normal;
}
#container {
    margin: 0 auto;
    width: 100%;
}
header {
    background: #55d6aa;
}
header h1 {
    margin: 0;
    color: white;
    font-family: robotobold;
    font-size: 20px;
}
#logo {
    padding: 25px;
    float: left;
}
#navigation {
    float: right;
    width: 100%;
    background: #669BB8;
}
#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navigation li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 30px;
    position: relative;
}
#navigation a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
#navigation a:hover {
    color: white;
}
#navigation a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #FF99A0;
    position: absolute;
    top:0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

#navigation a:hover:before {
   width: 100%;
}
/*#navigation ul li {
    list-style-type: none;
    display: inline;
}
#navigation li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}
#navigation li a:hover {
    background: #c00;
}*/
main {
    float: left;
    width: 100%;
}
main > section {
    float: left;
    width: 100%;
    background: #f2f2f2;
}
main > section > .sidebar {
    display: inline;
    width: 200px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;

}
main > section > .sidebar.left {
    float: left;
}
main > section > .sidebar.left ul {
    margin: 0;
    padding: 0;
}
main > section > .sidebar.left ul li {
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
    
}
#content {
    float: left;
    width: 60%;
    height: 2450px;
    padding: 10px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    border-width: 0 1px 0 1px;
    border-color: #ccc;
    border-style: solid;
}
#content h2 {
    margin: 0;
}
main > section > .sidebar.right {
    float: right;
}
main > section > .sidebar.right h3 {
    margin: 0;
}
footer {
    clear: both;
    background: #191919;
    text-align: left;
    height: 150px;
    color: white;
}
header::affter{
    content: '';
    display: table;
    clear: both;
}
button {
    background-color: #669BB8;
    color: white;
    border-radius: 5px;
    font-style: bold;
    font-size: 14px;
    font-family: 'robotobold';
    margin-left: 100px;
}

.product {
    font-family: robotoregular;
    margin-left:30px;
    margin-top: 50px;
}

.product h2 {
    font-size: 20px;
}

/* asd */

*,
*::before,
*::after { box-sizing: border-box; }

main h1 {
    color: #669BB8;
    font-family: robotobold;
    font-size: 40px;
    width: 250px;
    position: relative;
    top: 100px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
main h4 {
    color: #669BB8;
    font-family: robotobold;
    font-size: 15px;
    width: 650px;
    position: relative;
    top: 100px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.lista {
    padding-left: 70px;
    padding-right: 70px;
     list-style-type: square;
}
.img-container{
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 150px;
  padding-bottom: 100px;
}